# Swift Package Manager
.build/
.swiftpm/
node_modules/
.vitepress
.wrangler/

# Xcode user data
Specchio.xcodeproj/xcuserdata/
Specchio.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
*.xcuserstate
Specchio.xcworkspace/xcuserdata/

# Build output
DerivedData/
build/

# macOS
.DS_Store
